



.TopRight{
    float: right;
    text-align: right; 
    padding-bottom: 200px;
}
.TopRightSearch{
    float: right;
    text-align: right; 
    padding-bottom: 20px;
}

.TopBar {
    max-width: 90%;
    clear:both;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%
}

.TopBarSearch {
    max-width: 90%;
    clear:both;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    padding-bottom: 25px;
}

ul li {
    background: #F5F5F5;
    margin: 7px;
}

.TweetsList{
    max-width: 94%;
      margin-left: auto;
    margin-right: auto;
}

.formButt2 {
    background-color: #F0F0F0;
    
    border: none;
    color: #7A7A7A;
    padding: 8px 26px;
    text-align: center;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;

}


.graphsButt {
    margin-right: 10px;
    margin-top: 10px;
}


.TopImg {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.formDiv{
    
    max-width: 90%;
    clear:both;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    
}
.formButt{
    max-width: 90%;
    clear:both;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

input[type=text]
{
  box-shadow:2px 2px 4px #CFCECE;
  background: #fff;
  border: 0.5px solid #F1F1F1;
    height: 40px;
    width: 560px;
    text-align: left;
    text-indent: 10px;
}

.graphsMain{
    margin-left: auto;
    margin-right: auto;
    max-width: 90%;
    clear:both;
    text-align: center;
}
.secondGraphRow{
     clear:both;
     margin-left: auto;
    margin-right: auto;
}
.doubleGraphs{
    clear:both;
     margin-left: auto;
    margin-right: auto;
}
.doubleGraphCont{
    width: 49%;
    clear: none;
}

.graphLeft{
    float: left;
}
.graphRight{
    float: right;
}
.textSqueeze{
    text-align: left;
    clear:both;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
    padding-bottom: 15px;
   
}
.firstGraph{
    float:right;
    width: 49%;
    
}
.firstRowText{
    padding-left: 100px;
    float:left;
    width: 49%;
    padding-top: 50px;
    text-align: left;
}